//colors
$color_cream_approx: #ffffcc;
$color_gallery_approx: #f0f0f0;
$color_hippie_blue_approx: #60a0b0;
$red: #ff0000;
$color_camarone_approx: #007020;
$color_storm_dust_approx: #666666;
$color_forget_me_not_approx: #fff0f0;
$color_bright_red_approx: #a00000;
$navy_blue: #000080;
$color_forest_green_approx: #00a000;
$color_suva_gray_approx: #888888;
$color_red_stage_approx: #c65d09;
$color_seance_approx: #800080;
$color_science_blue_approx: #0044dd;
$color_totem_pole_approx: #902000;
$color_ocean_green_approx: #40a070;
$color_san_marino_approx: #4070a0;
$color_deep_cerulean_approx: #0e84b5;
$color_shakespeare_approx: #60add5;
$color_fuscous_gray_approx: #555555;
$color_flame_pea_approx: #d55537;
$color_catalina_blue_approx: #06287e;
$color_deep_sapphire_approx: #002070;
$color_fuchsia_pink_approx: #bb60d5;
$color_pink_swan_approx: #bbbbbb;
$color_danube_approx: #70a0d0;
$color_blumine_approx: #235388;
$color_fern_frond_approx: #517918;

.highlight {
    background: $color_gallery_approx;
    .hll {
        background-color: $color_cream_approx;
    }
    .c {
        color: $color_hippie_blue_approx;
        font-style: italic;
    }
    .err {
        border: 1px solid $red;
    }
    .k {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .o {
        color: $color_storm_dust_approx;
    }
    .cm {
        color: $color_hippie_blue_approx;
        font-style: italic;
    }
    .cp {
        color: $color_camarone_approx;
    }
    .c1 {
        color: $color_hippie_blue_approx;
        font-style: italic;
    }
    .cs {
        color: $color_hippie_blue_approx;
        background-color: $color_forget_me_not_approx;
    }
    .gd {
        color: $color_bright_red_approx;
    }
    .ge {
        font-style: italic;
    }
    .gr {
        color: $red;
    }
    .gh {
        color: $navy_blue;
        font-weight: bold;
    }
    .gi {
        color: $color_forest_green_approx;
    }
    .go {
        color: $color_suva_gray_approx;
    }
    .gp {
        color: $color_red_stage_approx;
        font-weight: bold;
    }
    .gs {
        font-weight: bold;
    }
    .gu {
        color: $color_seance_approx;
        font-weight: bold;
    }
    .gt {
        color: $color_science_blue_approx;
    }
    .kc {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .kd {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .kn {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .kp {
        color: $color_camarone_approx;
    }
    .kr {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .kt {
        color: $color_totem_pole_approx;
    }
    .m {
        color: $color_ocean_green_approx;
    }
    .s {
        color: $color_san_marino_approx;
    }
    .na {
        color: $color_san_marino_approx;
    }
    .nb {
        color: $color_camarone_approx;
    }
    .nc {
        color: $color_deep_cerulean_approx;
        font-weight: bold;
    }
    .no {
        color: $color_shakespeare_approx;
    }
    .nd {
        color: $color_fuscous_gray_approx;
        font-weight: bold;
    }
    .ni {
        color: $color_flame_pea_approx;
        font-weight: bold;
    }
    .ne {
        color: $color_camarone_approx;
    }
    .nf {
        color: $color_catalina_blue_approx;
    }
    .nl {
        color: $color_deep_sapphire_approx;
        font-weight: bold;
    }
    .nn {
        color: $color_deep_cerulean_approx;
        font-weight: bold;
    }
    .nt {
        color: $color_catalina_blue_approx;
        font-weight: bold;
    }
    .nv {
        color: $color_fuchsia_pink_approx;
    }
    .ow {
        color: $color_camarone_approx;
        font-weight: bold;
    }
    .w {
        color: $color_pink_swan_approx;
    }
    .mb {
        color: $color_ocean_green_approx;
    }
    .mf {
        color: $color_ocean_green_approx;
    }
    .mh {
        color: $color_ocean_green_approx;
    }
    .mi {
        color: $color_ocean_green_approx;
    }
    .mo {
        color: $color_ocean_green_approx;
    }
    .sb {
        color: $color_san_marino_approx;
    }
    .sc {
        color: $color_san_marino_approx;
    }
    .sd {
        color: $color_san_marino_approx;
        font-style: italic;
    }
    .s2 {
        color: $color_san_marino_approx;
    }
    .se {
        color: $color_san_marino_approx;
        font-weight: bold;
    }
    .sh {
        color: $color_san_marino_approx;
    }
    .si {
        color: $color_danube_approx;
        font-style: italic;
    }
    .sx {
        color: $color_red_stage_approx;
    }
    .sr {
        color: $color_blumine_approx;
    }
    .s1 {
        color: $color_san_marino_approx;
    }
    .ss {
        color: $color_fern_frond_approx;
    }
    .bp {
        color: $color_camarone_approx;
    }
    .vc {
        color: $color_fuchsia_pink_approx;
    }
    .vg {
        color: $color_fuchsia_pink_approx;
    }
    .vi {
        color: $color_fuchsia_pink_approx;
    }
    .il {
        color: $color_ocean_green_approx;
    }
}